task2/server/wsdl/rules.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions name="Cars"
             targetNamespace="http://tc.geeksforless.net/~user7/soap/soapServer/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://www.examples.com/wsdl/HelloService.wsdl"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <wsdl:types>
        <xsd:schema targetNamespace="http://schema.example.com">
            <xsd:complexType name="resultArray">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd:string[]" />
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>


    <message name="getCarsResponse">
        <part name="Result" type="tns:resultArray"/>
    </message>
    <message name="getDataRequest">
        <part name="id" type="xsd:int"/>
        <part name="name" type="xsd:string"/>
        <part name="model" type="xsd:string"/>
    </message>

    <message name="getOneDataRequest">
        <part name="id" type="xsd:int"/>
    </message>
    <message name="getDataResponse">
        <part name="Result" type="tns:string"/>
    </message>



    <portType name="PortType">
        <operation name="allAuto">
            <output message="tns:getCarsResponse"/>
        </operation>
        <operation name="oneAuto">
            <input message="tns:getOneDataRequest"/>
            <output message="tns:getCarsResponse"/>
        </operation>
    </portType>

    <binding name="Binding" type="tns:PortType">
        <operation name="allAuto"/>
        <operation name="oneAuto"/>
    </binding>

    <service name="CarsService">
        <port name="CarsPort" binding="Binding">
            <soap:address location="http://tc.geeksforless.net/~user7/soap/soapServer/index.php"/>
        </port>
    </service>
</definitions>